{% extends "base.html" %}

{% block titulo %} Editar Livro {% endblock %}

{% block conteudo %}

<h2>Editar Livro: {{ object.titulo }}</h2>
<hr>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="titulo" class="form-label">Título</label>
            {{ form.titulo }}
            <div class="text-danger small">{{ form.titulo.errors }}</div>
        </div>
        <div class="col-md-6">
            <label for="genero" class="form-label">Gênero</label>
            {{ form.genero }}
            <div class="text-danger small">{{ form.genero.errors }}</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="autor" class="form-label">Autor</label>
            {{ form.autor }}
            <div class="text-danger small">{{ form.autor.errors }}</div>
        </div>
        <div class="col-md-6">
            <label for="editora" class="form-label">Editora</label>
            {{ form.editora }}
            <div class="text-danger small">{{ form.editora.errors }}</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label for="ano" class="form-label">Ano de Lançamento</label>
            {{ form.ano }}
            <div class="text-danger small">{{ form.ano.errors }}</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <label for="sinopse" class="form-label">Sinopse</label>
            {{ form.sinopse }}
            <div class="text-danger small">{{ form.sinopse.errors }}</div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-6">
            <label class="form-label">Capa do Livro</label>
            
            {% if object.foto %}
                <div class="mb-2">
                    <img src="{{ object.foto.url }}" alt="Capa atual" style="max-height: 100px;" class="rounded border">
                    <small class="text-muted d-block">Capa Atual</small>
                </div>
            {% endif %}
            
            {{ form.foto }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a href="{% url 'listar_livro' %}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}