{% extends "base.html" %}

{% block titulo %} Editar Anúncio {% endblock %}

{% block conteudo %}

<form action="/anuncio/{{ object.pk }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <label for="livro" class="form-label">Livro</label>
            {{ form.livro }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="descricao" class="form-label">Descrição</label>
            {{ form.descricao }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="preco" class="form-label">Preço</label>
            {{ form.preco }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>

{% endblock %}