<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.jpg' %}"/>

    <title>{% block titulo %} Desenvolvimento webmobile {% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-5.3.8/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script type="text/javascript" src="{% static 'bootstrap-5.3.8/js/bootstrap.bundle.min.js' %}"></script>

    {% block css_local %}{% endblock %}
    {% block javascript_local %}{% endblock %}
</head>

<body>
    <div id="menu-superior">
        {% block menu_superior %}
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/livro" class="nav-link px-2 link-secondary">
                        Listar livros
                    </a>
                </li>
                <li>
                    <a href="/livro/novo" class="nav-link px-2 link-dark">
                        Cadastrar livros
                    </a>
                </li>
                <li>
                    <a href="/anuncio" class="nav-link px-2 link-dark">
                        Anúncios
                    </a>
                </li>
                <li>
                    <a href="/anuncio/novo" class="nav-link px-2 link-dark">
                        Criar Anúncios
                    </a>
                </li>
              </ul>
              <div class="col-md-3 text-end">
                <a href="/logout" type="button" class="btn btn-secondary position-relative">
                    Logout
                </a>
              </div>
            </header>
          </div>
        {% endblock %}
    </div>

    <div id="conteudo">
        {% block conteudo %}{% endblock %}
    </div>
</body>
</html>